.section__about{
    width: 1366px;
    height: 672px;
    
    }
    .titulo__section{
        color: orangered;
    }
    h3{
        color: #343434;
        font-size: 39px;
        margin-left: 300px;
        margin-top: 299px;
    }
    
    
    .text-largo{
        width: 900px;
        height: 0px;
        font-size: 40px;
        margin-left: 200px;
       
    }
    .rectangulo{
        background-color: orangered;
        width: 40px;
        height: 300px;
    }
    