@import './variables';
@import './mixins';


#services {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}
.imagen__services{
    width: 770px;
    height: 768px;
    left: 596px;
    position: absolute;
    z-index: 2;
}
.container__services{
  width:55%;
  margin-left: 220px;
  padding-right: 220px;
  padding-top: 144px;
  position: relative;
  z-index: 3;
  p{
      color: #5F6368;
  }
}
 .accordion{
     width: 669px;
     height: 259px;
     top: 144;
     color:#5F6368;
 }
 .text__acordeon{
     font-size: 16px;
 }
 

 
 
